.depositContainer {
    /* background-color: #1c1c1e; */
    color: white;
    padding-left: 20px;
    border-radius: 10px;
    width: 400px;
    /* Adjust width as needed */
    margin: 0 auto;
}

.depositTabs {
    display: flex;
    margin-bottom: 20px;
}

.depositTabs button {
    flex: 1;
    padding: 10px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    text-align: left;
}

.depositTabs .active {
    border-bottom: 2px solid white;
    text-align: left;
}

.depositContent {
    display: flex;
    flex-direction: column;
}

.depositContent label {
    margin-bottom: 10px;
}

.amountInput {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.currencySelect {
    display: flex;
    align-items: center;
    background-color: #2c2c2e;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #333;
}

.currencySelect img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.currencySelect span {
    color: white;
    margin-right: 5px;
}

.currencySelect select {
    background: none;
    border: none;
    color: white;
    appearance: none;
    cursor: pointer;
}

.amount {
    flex: 1;
    padding: 10px;
    border: 1px solid #333;
    border-radius: 0 5px 5px 0;
    background-color: #2c2c2e;
    color: white;
}

.quickButtons {
    display: flex;
    justify-content: space-between;
}

.quickButtons button {
    flex: 1;
    background-color: #2c2c2e;
    border: 1px solid #333;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 0.8rem;
    cursor: pointer;
    margin-right: 3px;
    transition: background-color 0.3s;
}

/* Hover effect */
.quickButtons button:hover {
    background-color: #444;
}

.quickButtons button:active {
    background-color: #666;
    border-color: #777;
}

/* Active effect */
.quickButtons button.active {
    background-color: #555;
    border-color: #666;
}